/* *{
    margin: 1px;
    padding: 70px;
} */

/* div{
    margin: 1px;
    padding: 1px;
    display: grid;
    justify-items: center;
}
h1{
    padding: 10px;
    margin: 1px;
    background-color: 1px solid black;
} */
button{
    align-items: center;
    display:flex;
    color: seagreen;
    padding: 1px;
    font-size: 100%;
}
/* body{
    display: grid;
    margin: 5px;
    justify-items: center;
    padding: 2px;
    
} */